<a href="https://colab.research.google.com/github/Kimjihoon2/colab/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

형성평가

In [5]:
num = int(input("숫자를 입력 ==> "))

if num > 100 :
  if num < 1000 :
    print("100보다 크고 1000보다 작군요.")
  else :
    print("와 ~ 1000보다 크군요.")
else :
  print("음~ 100보다 작군요.")

숫자를 입력 ==> 200
100보다 크고 1000보다 작군요.

형성평가 2

In [9]:
score = int(input("점수를 입력 ==> "))

if score >= 90 :
  print("A", end='')
else :
  if score >= 80 :
    print("B", end='')
  else :
    if score >= 70 :
      print("C", end='')
    else :
      if score >= 60 :
        print("D", end='')
      else :
        print("F", end='')
print("학점입니다")

점수를 입력 ==> 50
F학점입니다

In [12]:
score = int(input("점수를 입력 ==> "))
if score >= 90 :
  print("A", end='')
elif score >= 80 :
  print("B", end='')
elif score >= 70 :
  print("C", end='')
elif score >= 60 :
  print("D", end='')
else :
  print("F", end='')
  print("학점입니다")

점수를 입력 ==> 80
B

In [14]:
age = int(input("나이를 입력 ==> "))

if age >= 18 :
  print("즐거운 시간 되세요 ^^")
else :
  print("집에 갈 시간이네요!")

print("협조 감사합니다")

나이를 입력 ==> 2
집에 갈 시간이네요!
협조 감사합니다

In [16]:
for i in range(3) :
   print("난생처음 파이썬은 재미있습니다")

난생처음 파이썬은 재미있습니다
난생처음 파이썬은 재미있습니다
난생처음 파이썬은 재미있습니다

In [17]:
myList = ["짜장면","김밥","라면"]
for i in myList :
   print(i)

짜장면
김밥
라면

In [18]:
for i in range(2,8,2):
  print(i)

2
4
6

In [29]:
sum = 0
for i in range(1,100,2):
  sum = sum + i
print(sum)

2500

In [30]:
for i in range(3) :
  for i in range(2) :
    print("")